static/replacer.sh
indiastore_prod_test.json
indiastore_prod_test_data.json
indiastore_prod_test_mapping.json
internalpool/
paresed_resume_information
paresed_resume_information_mapping.json
product_test_data.json
product_test_mapping.json
shine/
usstore_data.json
usstore_mapping.json
usstore_mapping2.json
hirenew/models/todolist
hirenew/modules/Find Results
hirenew/modules/autoSourcing
monster/
monsterindia/
monsterus/
CB/
bower.sh
data/crunch.tar.gz
erl_crash.dump
*.ipynb
*.backup
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.py-e

# Distribution / packaging
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.*~
*.csv
*.*#
*.txt
*.cfg
*.DS_Store
*.#*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*bkp
*bak
*swp

.idea
frontend_notes
node_modules
hirenew/static/bower_components
../.ipynb_checkpoints/
../CB/
../TimeZone.ipynb
../Untitled0.ipynb
../Untitled1.ipynb
../Untitled2.ipynb
../Untitled3.ipynb
../bower.sh
../data/crunch.tar.gz
../dump.rdb
../elastic_aggregation.ipynb
../erl_crash.dump
models/__init__.py.backup
models/todolist
modules/__init__.py.backup
modules/autoSourcing
resume_group.json
router/__init__.py.backup
router/c.py
router/no_cache.py
static/forgotPassword.html.backup
static/js/controllers/forgot.js.backup
../indiastore_prod_test.json
../indiastore_prod_test_data.json
../indiastore_prod_test_mapping.json
../internalpool/
../monster/
../monsterindia/
../monsterus/
../paresed_resume_information
../paresed_resume_information_mapping.json
../particular_Source.ipynb
../product_test_data.json
../product_test_mapping.json
../quer.dff
../query_final.dff
../run.py.backup
../shine/
../usstore_data.json
../usstore_mapping.json
../usstore_mapping2.json
.ipynb_checkpoints/
CB/
TimeZone.ipynb
Untitled0.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
bower.sh
data/crunch.tar.gz
dump.rdb
elastic_aggregation.ipynb
erl_crash.dump
hirenew/models/__init__.py.backup
hirenew/models/todolist
hirenew/modules/__init__.py.backup
hirenew/modules/autoSourcing
hirenew/router/__init__.py.backup
hirenew/router/c.py
hirenew/router/no_cache.py
hirenew/static/forgotPassword.html.backup
hirenew/static/js/controllers/forgot.js.backup
hirenew/t.txt
indiastore_prod_test.json
indiastore_prod_test_data.json
indiastore_prod_test_mapping.json
internalpool/
monster/
monsterindia/
monsterus/
paresed_resume_information
paresed_resume_information_mapping.json
particular_Source.ipynb
product_test_data.json
product_test_mapping.json
quer.dff
query_final.dff
run.py.backup
shine/
t.txt
usstore_data.json
usstore_mapping.json
usstore_mapping2.json
/hirenew/static/bower_components
.vscode
